.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.picture {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  width: 280px;
  margin-bottom: 5px;
}

.name{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px
}   
    
.description{
  text-align: center;
  font-size: 25px;
  margin-bottom: 100px
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  width: 25%;
}

.item {
  margin-top: 10px;
  text-align: left;
  border-bottom: 5px solid gray;
  border-radius: 8px;
  padding: 10px;
  transition: all 200ms;
}

.item:hover {
  color: white;
  cursor: pointer;
  background-color: gray;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 100px
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px auto;
  border: 5px solid #333;
  border-radius: 5px;
}

.character {
  width: 250px;
}

.text {
  padding: 5px;
}

.last {
  margin-bottom: 50px;
}

* {
  margin: 0;
}

footer{
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}